* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: url("images/pattern-curve.svg") left bottom no-repeat;
  font-family: "Inter", sans-serif;
  color: hsl(240, 38%, 20%);
}
.container,
.left-portion,
.right-portion,
.navigation-btn {
  display: flex;
}
.container {
  margin: 5% 5% 0%;
  flex-direction: row;
}
.left-portion,
.right-portion {
  flex-direction: column;
}
.left-portion {
  margin: 12% 0% 0%;
  flex: 48%;
}
.left-portion > img {
  position: absolute;
  left: 24%;
  transform: translateX(-20%);
}
.about-text {
  margin: 12% 0% 0%;
  font-size: 29px;
  font-weight: 300;
  transform: translateX(25%);
}
.right-portion {
  flex: 52%;
  background-image: url("images/pattern-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.profile-img > img {
  width: 75%;
  margin: 12%;
  border-radius: 5px;
  box-shadow: 0px 26px 30px -22px rgba(62, 82, 183, 0.7);
}
.navigation-btn {
  position: relative;
  bottom: 15%;
  left: 20%;
  transform: translate(-1%, -1%);
  border-radius: 25px;
}
.button {
  padding: 2% 3%;
  background-color: #fff;
  border-color: transparent;
}
.prev {
  border-radius: 25px 0px 0px 25px;
}
.next {
  border-radius: 0px 25px 25px 0px;
}
.profile-name {
  padding-top: 5%;
}
.profile-name > p {
  display: flex;
  flex-direction: row;
  transform: translateX(25%);
  font-weight: 700;
}
span {
  color: hsl(240, 18%, 77%);
  font-weight: 500;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: rgb(62, 82, 163);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    background-size: contain;
  }
  .container {
    margin: 16% 8% 32%;
    flex-direction: column-reverse;
  }
  .left-portion,
  .right-portion {
    flex: 100%;
  }
  .left-portion {
    margin-top: 0%;
  }
  .about-text {
    text-align: center;
    transform: translateX(0%);
    font-size: 18px;
  }
  .navigation-btn {
    bottom: 0%;
    left: 40%;
    transform: translate(-1%, -175%);
  }
  .next > img,
  .prev > img {
    width: 75%;
  }
  .left-portion > img {
    width: 17%;
    left: 45%;
    transform: translate(-16%, 5%);
  }
  .profile-name {
    padding-top: 10%;
  }
  .profile-name > p {
    flex-direction: column;
    flex: 100%;
    transform: translateX(0%);
    text-align: center;
  }
}
